header a {
    position: fixed;
    top: 18px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: dodgerblue;
    color: black;
    font-size: 2.1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#name-form * {
    width: 30dvw;
    height: 20px;
    border-radius: 6px;
    margin: 4px;
    padding: 4px;
    font-size: 0.9rem;
}

#name-form button {
    background-color: black;
    color: beige;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main .switch-btn {
    padding: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #bbb;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 550;
}

#cards-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 8px 12px;
    padding: 12px;
    width: 65dvw;
    height: 38dvw;
    background-color: deepskyblue;
    border: 8px solid dodgerblue;
    border-radius: 8px;
    color: black;
    font-size: 1.4rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    opacity: 1;
    transition:
    transform 0.5s ease-in,
    opacity 0.5s ease-in,
    display 0.5s allow-discrete;
    @starting-style {
        transform: translateX(100%);
        opacity: 0.4;
    }
}

.card.hidden {
    display: none;
    transform: translateX(-100%);
    opacity: 0.4;
}

.card:hover {
    transform: scale(1) !important;
}

#add-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-card-form p {
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 2rem;
}

#add-card-form div {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-card-form input {
    height: 29px;
    width: 40%;
    margin: 4px;
    font-size: 1rem;
}

#add-card-form button {
    margin: 6px;
    padding: 4px;
    width: 60%;
    height: 60px;
    background-color: black;
    color: beige;
    font-size: 1.6rem;
    border-radius: 8px;
}

footer a {
    padding: 8px;
    height: 30px;
    min-width: 80px;
    max-width: 75dvw;
    background-color: brown;
    color: white;
    border-radius: 6px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}